[report]
exclude_lines = 
    pragma: no cover
    if TYPE_CHECKING:

    # Don't complain about defensive Exceptions
    raise _exceptions.InputError
    raise _exceptions.CashocsException
    raise _exceptions.CashocsDebugException

    # Don't complain if warnings aren't raised
    _loggers.warning

    # Don't complain about abstract methods
	@(abc\.)?abstractmethod
