### python
__pycache__/
*.pyc
.pytest_cache/
.coverage
htmlcov

### paraview
*.pvd
*.vtu


### pip
/build
/dist
cashocs.egg-info/


### sphinx
/docs/build


### cashocs
*._cashocs_remesh_*
/tests/temp
/tests/out
*cashocs_remesh_*/
