@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

pre, code {
  font-size: 100%;
  line-height: 155%;
}

h1 {
  font-family: "Lato", sans-serif;
  color: #013243; /* warm black */
}

h2 {
  color: #4d77cf; /* han blue */
  letter-spacing: -.03em;
}

h3 {
  color: #013243; /* warm black */
  letter-spacing: -.03em;
}


/* Background of others should be red */
.version-switcher__container {
  position: relative;
}

.version-switcher__container span {
  color: var(--pst-color-danger);
}

.version-switcher__container span:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--pst-color-danger);
  opacity: 0.1;
}

/* Background of stable should be green */
.version-switcher__container a[data-version-name*="stable"] {
  position: relative;
}

.version-switcher__container a[data-version-name*="stable"] span {
  color: var(--pst-color-success);
}

.version-switcher__container a[data-version-name*="stable"] span:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--pst-color-success);
  opacity: 0.1;
}

/* Background of dev should be orange */
.version-switcher__container a[data-version-name*="dev"] {
  position: relative;
}

.version-switcher__container a[data-version-name*="dev"] span {
  color: #E69F00;
}

.version-switcher__container a[data-version-name*="dev"] span:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #E69F00;
  opacity: 0.1;
}




/* Main page overview cards */

.sd-card {
  background: #fff;
  border-radius: 0;
  padding: 30px 10px 20px 10px;
  margin: 10px 0px;
}

.sd-card .sd-card-header {
  text-align: center;
}

.sd-card .sd-card-header .sd-card-text {
  margin: 0px;
}

.sd-card .sd-card-img-top {
  height: 52px;
  width: 52px;
  margin-left: auto;
  margin-right: auto;
}

.sd-card .sd-card-header {
  border: none;
  background-color: white;
  color: #150458 !important;
  font-size: var(--pst-font-size-h5);
  font-weight: bold;
  padding: 2.5rem 0rem 0.5rem 0rem;
}

.sd-card .sd-card-footer {
  border: none;
  background-color: white;
}

.sd-card .sd-card-footer .sd-card-text {
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
}


.custom-button {
  background-color:#DCDCDC;
  border: none;
  color: #484848;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  border-radius: 0.5rem;
  max-width: 120px;
  padding: 0.5rem 0rem;
}

.custom-button a {
  color: #484848;
}

.custom-button p {
  margin-top: 0;
  margin-bottom: 0rem;
  color: #484848;
}



/* Dark theme tweaking */
html[data-theme=dark] .sd-card img[src*='.svg'] {
    filter: invert(0.82) brightness(0.8) contrast(1.2);
}

/* Main index page overview cards */
html[data-theme=dark] .sd-card {
  background-color:var(--pst-color-background);
}

html[data-theme=dark] .sd-shadow-sm {
    box-shadow: 0 .1rem 1rem rgba(250, 250, 250, .6) !important
}

html[data-theme=dark] .sd-card .sd-card-header {
  background-color:var(--pst-color-background);
  color: #150458 !important;
}

html[data-theme=dark] .sd-card .sd-card-footer {
  background-color:var(--pst-color-background);
}

html[data-theme=dark] h1 {
  color: var(--pst-color-primary);
}

html[data-theme=dark] h3 {
  color: #0a6774;
}

