name: cashocs ci

on:
  workflow_dispatch:
  pull_request:
  schedule:
    - cron: '17 22 * * *'
    
jobs:
  serial_tests:
    name: Serial test (py=${{ matrix.python-version}}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.7", "3.8", "3.9", "3.10"]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install micromamba
      uses: mamba-org/provision-with-micromamba@main
      with:
        environment-file: .github/micromamba/testenv.yml
        extra-specs: |
          fenics=2019
          meshio">=5.0.0"
          pytest">=7.0.0"
          deprecated">=1.2.12"
          gmsh">=4.8"
          mpich
          matplotlib
          python=${{ matrix.python-version }}

    - name: Install package
      run: |
        pip install .

    - name: Run tests
      env: 
        OMP_NUM_THREADS: 2
      run: |
        python3 -m pytest tests/

        
  parallel_tests:
    name: Parallel test (py=${{ matrix.python-version}}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.7", "3.8", "3.9", "3.10"]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install micromamba
      uses: mamba-org/provision-with-micromamba@main
      with:
        environment-file: .github/micromamba/testenv.yml
        extra-specs: |
          fenics=2019
          meshio">=5.0.0"
          pytest">=7.0.0"
          deprecated">=1.2.12"
          gmsh">=4.8"
          mpich
          matplotlib
          python=${{ matrix.python-version }}

    - name: Install package
      run: |
        pip install .
    
    - name: Run tests in parallel
      env: 
        OMP_NUM_THREADS: 1
      run: |
        mpirun -n 2 python3 -m pytest

        
        
  serial_demos:
    name: Test (py=${{ matrix.python-version}}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10"]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install micromamba
      uses: mamba-org/provision-with-micromamba@main
      with:
        environment-file: .github/micromamba/testenv.yml
        extra-specs: |
          fenics=2019
          meshio">=5.0.0"
          pytest">=7.0.0"
          deprecated">=1.2.12"
          gmsh">=4.8"
          mpich
          matplotlib
          python=${{ matrix.python-version }}

    - name: Install package
      run: |
        pip install .
    
    - name: Run demos
      env: 
        OMP_NUM_THREADS: 2
      run: |
        python3 -m pytest demos/test.py

        
        
  parallel_demos:
    name: Test (py=${{ matrix.python-version}}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10"]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install micromamba
      uses: mamba-org/provision-with-micromamba@main
      with:
        environment-file: .github/micromamba/testenv.yml
        extra-specs: |
          fenics=2019
          meshio">=5.0.0"
          pytest">=7.0.0"
          deprecated">=1.2.12"
          gmsh">=4.8"
          mpich
          matplotlib
          python=${{ matrix.python-version }}

    - name: Install package
      run: |
        pip install .
        
    - name: Run demos in parallel
      env:
        OMP_NUM_THREADS: 1
      run: |
        python3 -m pytest demos/test_mpi.py

