name: Test conda installation

on:
  workflow_dispatch:
  schedule:
    - cron: '42 23 * * *'

permissions: read-all

jobs:
  conda_test:
    name: Test conda installation
    strategy:
      matrix:
        os: [ubuntu-latest, macos-15]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -el {0}
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup conda
        uses: conda-incubator/setup-miniconda@835234971496cad1653abb28a638a281cf32541f # v3.2.0
        with:
          environment-file: .github/conda/conda.yml
          miniforge-version: latest
          python-version: 3.14
          activate-environment: test
          auto-activate-base: false
          auto-update-conda: true
          conda-remove-defaults: true
      
      - name: Show conda info
        run: conda info

      - name: Show conda list
        run: conda list

      - name: Test if package was installed properly
        run: |
          python -c "import cashocs; cashocs.regular_mesh(16)"
          mpirun -n 2 python -c "import cashocs; cashocs.regular_mesh(16)"
        
