name: Test conda installation

on:
  workflow_dispatch:
  schedule:
    - cron: '42 23 * * *'

permissions: read-all

jobs:
  conda_test:
    name: Test conda installation
    strategy:
      matrix:
        os: [ubuntu-latest, macos-15]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -el {0}
    
    steps:
      - name: Setup conda
        uses: conda-incubator/setup-miniconda@835234971496cad1653abb28a638a281cf32541f # v3.2.0
        with:
          miniforge-version: latest
          auto-activate-base: true
          auto-update-conda: true
          conda-remove-defaults: true
      
      - name: Install cashocs
        run: conda create -n cashocs cashocs python=3.14
      
      - name: Test if package was installed properly
        run: |
          conda run -n cashocs python -c "import cashocs; cashocs.regular_mesh(16)"
          conda run -n cashocs mpirun -n 2 python -c "import cashocs; cashocs.regular_mesh(16)"
        
