name: Test conda installation

on:
  workflow_dispatch:
  schedule:
    - cron: '42 23 * * *'

permissions: read-all

jobs:
  conda_test:
    name: Test conda installation
    strategy:
      matrix:
        os: [ubuntu-latest, macos-15]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -el {0}
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup conda
        uses: conda-incubator/setup-miniconda@fc2d68f6413eb2d87b895e92f8584b5b94a10167 # v3.3.0
        with:
          environment-file: .github/conda/conda.yml
          miniforge-version: latest
          python-version: 3.14
          activate-environment: test
          auto-activate-base: false
          auto-update-conda: true
          conda-remove-defaults: true
      
      - name: Show conda info
        run: conda info

      - name: Show conda list
        run: conda list

      - name: Test if package was installed properly
        run: |
          python -c "import cashocs; cashocs.regular_mesh(16)"
          mpirun -n 2 python -c "import cashocs; cashocs.regular_mesh(16)"
        
