name: Docker images

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'
  schedule:
    - cron: '17 21 * * *'

permissions: read-all

jobs:
  build_image:
    name: Build sblauth/cashocs image
    runs-on: ubuntu-latest
    outputs:
      TAG_PREFIX: ${{ steps.tag_name.outputs.TAG_PREFIX }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Get tag name
        id: tag_name
        run: |
          if [[ ${GITHUB_REF#refs/tags/} == v* ]]
          then
            echo "TAG_PREFIX=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
          else
            echo "TAG_PREFIX=latest" >> $GITHUB_OUTPUT
          fi

      - name: Log into the Dockerhub registry
        run: echo ${{ secrets.DOCKERHUB_TOKEN }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

      - name: Build the Docker image
        run: |
          docker buildx build --push \
            --no-cache \
            --cache-to=type=inline,mode=max --file ./.github/docker/Dockerfile \
            --tag sblauth/cashocs:${{ steps.tag_name.outputs.TAG_PREFIX }} .
