name: Tests (macos, serial)

on:
  push:
    branches:
      - 'release/**'
  workflow_dispatch:
  schedule:
    - cron: '17 0 * * *'

permissions: read-all

env:
  OMP_NUM_THREADS: 1

jobs:
  serial_tests:
    name: Test (py=${{ matrix.python-version}}, macos-15)
    runs-on: macos-15
    defaults:
      run:
        shell: bash -el {0}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
    - name: Checkout repository
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - name: Create conda environment
      uses: conda-incubator/setup-miniconda@835234971496cad1653abb28a638a281cf32541f # v3.2.0
      with:
        environment-file: .github/conda/mpich.yml
        miniforge-version: latest
        python-version: ${{ matrix.python-version }}
        activate-environment: test
        auto-activate-base: false
        conda-remove-defaults: true

    - name: Show conda info
      run: conda info

    - name: Show list of all installed packages
      run: conda list

    - name: Install package
      run: |
        pip install .[all]

    - name: Run tests
      run: |
        python3 -m pytest -vv tests/
 
