name: tests

on:
  push:
  workflow_dispatch:
  pull_request:
  schedule:
    - cron: '17 22 * * *'

jobs:
  tests:
    name: tests (${{ matrix.os }}, python ${{ matrix.python-version }})
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-10.15]
        python-version: ["3.7", "3.8", "3.9"]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install micromamba
      uses: mamba-org/provision-with-micromamba@main
      with:
        environment-file: .github/micromamba/testenv.yml
        extra-specs: |
          fenics=2019
          meshio">=5.0.0"
          pytest">=7.0.0"
          deprecated">=1.2.12"
          gmsh">=4.8"
          python=3.9

    - name: Install package
      run: |
        pip install .

    - name: Run tests and generate coverage
      run: |
        pytest
