name: Tests (macos, serial)

on:
  workflow_dispatch:
  schedule:
    - cron: '17 0 * * *'
    
    
jobs:
  serial_tests:
    name: Test (py=${{ matrix.python-version}}, macos-12)
    runs-on: macos-12
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4.1.0

    - name: Install micromamba
      uses: mamba-org/setup-micromamba@v1
      with:
        environment-file: .github/micromamba/testenv.yml
        create-args: >-
          python=${{ matrix.python-version }}
          fenics=2019
          meshio>=5.3.0
          pytest>=7.2.0
          gmsh>=4.8
          petsc<=3.19

    - name: Install package
      run: |
        pip install .[all]

    - name: Run tests
      env: 
        OMP_NUM_THREADS: 2
      run: |
        python3 -m pytest -vv tests/
 
