name: Test Demos

on:
  workflow_dispatch:
  schedule:
    - cron: '02 23 * * *'

jobs:
  serial_demos:
    name: Serial demos
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3.5.2

    - name: Install micromamba
      uses: mamba-org/provision-with-micromamba@main
      with:
        environment-file: .github/micromamba/testenv.yml
        extra-specs: |
          fenics=2019
          meshio">=5.0.0"
          pytest">=7.0.0"
          gmsh">=4.8"
          occt"<=7.7.0"
          matplotlib
          python=3.11

    - name: Install package
      run: |
        pip install .[all]
    
    - name: Run demos
      env: 
        OMP_NUM_THREADS: 2
      run: |
        python3 -m pytest -vv demos/test.py

        
        
  parallel_demos:
    name: Parallel demos
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3.5.2

    - name: Install micromamba
      uses: mamba-org/provision-with-micromamba@main
      with:
        environment-file: .github/micromamba/testenv.yml
        extra-specs: |
          fenics=2019
          meshio">=5.0.0"
          pytest">=7.0.0"
          gmsh">=4.8"
          occt"<=7.7.0"
          mpich
          matplotlib
          python=3.11

    - name: Install package
      run: |
        pip install .[all]
        
    - name: Run demos in parallel
      env:
        OMP_NUM_THREADS: 1
      run: |
        python3 -m pytest -vv demos/test_mpi.py
