name: Tests

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '17 22 * * *'

env:
  OMP_NUM_THREADS: 2
    
jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/sblauth/cashocs:main

    steps:
    - name: Delete current installation in docker image
      shell: bash -l {0}
      run: |
        conda activate cashocs
        pip uninstall -y cashocs
        rm -R /root/cashocs

    - name: Checkout repository
      uses: actions/checkout@v3.1.0 

    - name: Install cashocs
      shell: bash -l {0}
      run: |
        conda activate cashocs
        pip install .

    - name: Run tests
      shell: bash -l {0}
      run: |
        conda activate cashocs
        coverage run --source=cashocs -m pytest tests/

    - name: Generate .xml coverage results
      shell: bash -l {0}
      run: |
        conda activate cashocs
        coverage xml

    - name: Upload coverage to codecov.io
      uses: codecov/codecov-action@v3
      with:
        files: coverage.xml

    - name: Upload coverage to codacy
      uses: codacy/codacy-coverage-reporter-action@v1
      with:
        project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
        coverage-reports: coverage.xml
