name: Tests (ubuntu, parallel)

on:
  workflow_dispatch:
  pull_request:
  schedule:
    - cron: '03 22 * * *'

permissions: read-all

env:
  OMP_NUM_THREADS: 1
  SCOTCH_DETERMINISTIC: 1
  SCOTCH_RANDOM_FIXED_SEED: 1

jobs:
  parallel_tests:
    name: Test (py=${{ matrix.python-version}}, ${{ matrix.mpi }})
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        mpi: [mpich, openmpi]

    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Create conda environment
      uses: conda-incubator/setup-miniconda@fc2d68f6413eb2d87b895e92f8584b5b94a10167 # v3.3.0
      with:
        environment-file: .github/conda/${{ matrix.mpi }}.yml
        miniforge-version: latest
        python-version: ${{ matrix.python-version }}
        activate-environment: test
        auto-activate-base: false
        conda-remove-defaults: true

    - name: Show conda info
      run: conda info

    - name: Show list of all installed packages
      run: conda list

    - name: Install package
      run: |
        pip install .[all]
    
    - name: Run tests in parallel
      run: |
        mpirun -n 2 python3 -m pytest -vv --timeout=1800 -p no:cacheprovider --randomly-seed=${{ github.run_id }} tests/
