name: Test Demos

on:
  workflow_dispatch:
  schedule:
    - cron: '02 23 * * *'

jobs:
  serial_demos:
    name: Serial demos
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4.1.1

    - name: Install micromamba
      uses: mamba-org/setup-micromamba@v1
      with:
        environment-file: .github/micromamba/testenv.yml
        create-args: >-
          fenics=2019
          meshio>=5.3.0
          pytest>=7.2.0
          gmsh>=4.8
          matplotlib
          petsc<=3.19
          mpi4py<=3.1.4
          python=3.11

    - name: Install package
      run: |
        pip install .[all]
    
    - name: Run demos
      env: 
        OMP_NUM_THREADS: 2
      run: |
        python3 -m pytest -vv demos/test.py

        
        
  parallel_demos:
    name: Parallel demos
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4.1.1

    - name: Install micromamba
      uses: mamba-org/setup-micromamba@v1
      with:
        environment-file: .github/micromamba/testenv.yml
        create-args: >-
          fenics=2019
          meshio>=5.3.0
          pytest>=7.2.0
          gmsh>=4.8
          mpich
          matplotlib
          petsc<=3.19
          mpi4py<=3.1.4
          python=3.11

    - name: Install package
      run: |
        pip install .[all]
        
    - name: Run demos in parallel
      env:
        OMP_NUM_THREADS: 1
      run: |
        python3 -m pytest -vv demos/test_mpi.py
