name: Tests (ubuntu, serial)

on:
  workflow_dispatch:
  pull_request:
  schedule:
    - cron: '17 22 * * *'
    
    
jobs:
  serial_tests:
    name: Test (py=${{ matrix.python-version}}, ubuntu-latest)
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12"]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4.2.1

    - name: Create conda environment
      run: |
        conda create -n cashocs -c conda-forge fenics=2019 meshio">=5.3" pytest gmsh">=4.8" scipy scotch"<7" python=${{ matrix.python-version }}
        conda list

    - name: Install package
      run: |
        conda run -n cashocs pip install .[all]

    - name: Run tests
      env: 
        OMP_NUM_THREADS: 2
      run: |
        conda run -n cashocs python3 -m pytest -vv tests/
 
