name: Tests

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '17 22 * * *'

permissions: read-all

env:
  OMP_NUM_THREADS: 1
    
jobs:
  tests:
    name: Tests
    permissions:
      # Gives the action the necessary permissions for publishing new
      # comments in pull requests.
      pull-requests: write
      # Gives the action the necessary permissions for pushing data to the
      # python-coverage-comment-action branch, and for editing existing
      # comments (to avoid publishing multiple comments in the same PR)
      contents: write
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/sblauth/cashocs:main
      options: --user=root

    steps:
    - name: Delete current installation in docker image
      shell: bash
      run: |
        source /usr/local/bin/_entrypoint.sh
        pip uninstall -y cashocs
        rm -R /home/mambauser/cashocs

    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Install cashocs
      shell: bash
      run: |
        source /usr/local/bin/_entrypoint.sh
        pip install .[all]

    - name: Run tests
      shell: bash
      run: |
        source /usr/local/bin/_entrypoint.sh
        python3 -m pytest -vv --cov=cashocs --cov-report=xml tests/

    - name: Coverage comment
      id: coverage_comment
      uses: py-cov-action/python-coverage-comment-action@e623398c19eb3853a5572d4a516e10b15b5cefbc # v3.39
      with:
        GITHUB_TOKEN: ${{ github.token }}
        COVERAGE_DATA_BRANCH: coverage
        MINIMUM_GREEN: 85
        MINIMUM_ORANGE: 70

    - name: Store Pull Request comment to be posted
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      if: steps.coverage_comment.outputs.COMMENT_FILE_WRITTEN == 'true'
      with:
        # If you use a different name, update COMMENT_ARTIFACT_NAME accordingly
        name: python-coverage-comment-action
        # If you use a different name, update COMMENT_FILENAME accordingly
        path: python-coverage-comment-action.txt
