name: Test Demos

on:
  workflow_dispatch:
  schedule:
    - cron: '02 23 * * *'

permissions: read-all

env:
  OMP_NUM_THREADS: 1
  SCOTCH_DETERMINISTIC: 1
  SCOTCH_RANDOM_FIXED_SEED: 1

jobs:
  serial_demos:
    name: Serial demos
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    strategy:
      fail-fast: false

    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Create conda environment
      uses: conda-incubator/setup-miniconda@fc2d68f6413eb2d87b895e92f8584b5b94a10167 # v3.3.0
      with:
        environment-file: .github/conda/mpich.yml
        miniforge-version: latest
        python-version: 3.14
        activate-environment: test
        auto-activate-base: false
        conda-remove-defaults: true

    - name: Show conda info
      run: conda info

    - name: Show list of all installed packages
      run: conda list

    - name: Install package
      run: |
        pip install .[all]
    
    - name: Run demos
      run: |
        python3 -m pytest -vv demos/test.py

        
        
  parallel_demos:
    name: Parallel demos
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    strategy:
      fail-fast: false

    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Create conda environment
      uses: conda-incubator/setup-miniconda@fc2d68f6413eb2d87b895e92f8584b5b94a10167 # v3.3.0
      with:
        environment-file: .github/conda/mpich.yml
        miniforge-version: latest
        python-version: 3.14
        activate-environment: test
        auto-activate-base: false
        conda-remove-defaults: true

    - name: Show conda info
      run: conda info

    - name: Show list of all installed packages
      run: conda list

    - name: Install package
      run: |
        pip install .[all]
        
    - name: Run demos in parallel
      run: |
        python3 -m pytest -vv demos/test_mpi.py
