name: Tests (ubuntu, parallel)

on:
  workflow_dispatch:
  pull_request:
  schedule:
    - cron: '03 22 * * *'

jobs:
  parallel_tests:
    name: Test (py=${{ matrix.python-version}}, ${{ matrix.mpi }})
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        mpi: [mpich, openmpi]
        exclude:
          - python-version: "3.8"
            mpi: openmpi

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4.1.4

    - name: Install micromamba
      uses: mamba-org/setup-micromamba@v1
      with:
        environment-file: .github/micromamba/testenv.yml
        create-args: >-
          fenics=2019
          meshio>=5.3.0
          pytest>=7.2.0
          gmsh>=4.8
          petsc<=3.19
          scipy
          ${{ matrix.mpi }}
          python=${{ matrix.python-version }}

    - name: Install package
      run: |
        pip install .[all]
    
    - name: Run tests in parallel
      env: 
        OMP_NUM_THREADS: 1
      run: |
        mpirun -n 2 python3 -m pytest -vv --timeout=1800 -p no:cacheprovider --randomly-seed=${{ github.run_id }} tests/
